<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="m-4">
            <div class="row">
              <div class="col-md-6">
                <ProfileComponent/>
              </div>

              <div class="col-md-6">
                <SkillsComponent/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProfileComponent from '@/components/ProfileComponent';
import SkillsComponent from '@/components/SkillsComponent';
export default {
  components: {
    ProfileComponent,
    SkillsComponent,
  }
}
</script>
