<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="m-4">
            <div class="row">
                <form class="col-md-12">
                    <h1>Contact Me</h1>
                    <hr>
                    <input class='form-control mb-2' type="text" placeholder="Name" v-model="name" required/>
                    <input class='form-control mb-2' type="number" placeholder="Tel" v-model="tel" required/>
                    <input class='form-control mb-2' type="text" placeholder="Subject" v-model="subject" required/>
                    <textarea class='form-control mb-2' cols="30" rows="10" placeholder="Message" v-model="content" required></textarea>
                    <div align='right'>
                        <button class='btn btn-primary mb-2' @click="send_mail()">Submit</button>
                    </div>
                </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from '../firebase';
export default {
  mounted () {
    //console.log(process.env.VUE_APP_EMAIL)
  },
  methods: {
    send_mail () {
      const db = firebase.firestore();
      if (this.name.length === 0) {
        alert('Please input name');
      } else if (this.tel.length === 0) {
        alert('Please input tel');
      } else if (this.subject.length === 0) {
        alert('Please input subject');
      } else if (this.content === 0) {
        alert('Please input message');
      } else {
        db.collection('contacts').add({
          title: this.name,
          tel: this.tel,
          subject: this.subject,
          content: this.content
        }).then(response => {
          alert('Thanks for contact me');
        })
      }
    }
  },
  data () {
    return {
      name: null,
      tel: null,
      subject: null,
      content: null
    }
  }
}
</script>