<template>
  <div class="container">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <b-img
                src="../assets/me.jpg"
                fluid
                alt="Responsive image"
              ></b-img>
            </div>

            <div class="col-md-6">
              <div class="justidy-centent-center">
                <div class='m-4'>
                  <h1>Hey, I am Pond Songpol.</h1>
                    <hr>
                  <div>
                    I am 21 years old website and application developer living
                    in Thailand.
                  </div>

                  <div>
                    I love both, Front-End and Back-End. My passion is
                    cross-platform application development and challenging
                    functionality.
                  </div>

                  <div>Tel me (+66) 96 060 2803</div>

                  <div class='mt-4'>
                    <div class="row">
                      <div class="col-3">
                        <a href="https://github.com/pungpondstr" style="color: black;">
                          <i class="fab fa-github fa-3x"></i>
                        </a>
                      </div>

                      <div class="col-3">
                        <a href="https://gitlab.com/pungpondstr" style="color: red;">
                          <i class="fab fa-gitlab fa-3x"></i>
                        </a>
                      </div>

                      <div class="col-3">
                        <a href="https://hub.docker.com/u/pungpondstr" style="color: blue;">
                          <i class="fab fa-docker fa-3x"></i>
                        </a>
                      </div>

                      <div class="col-3">
                        <a href="https://facebook.com/pungpondstr/" style="color: #4267B2;">
                          <i class="fab fa-facebook fa-3x"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>