<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4" v-for="item in items" :key="item.title">
        <a :href="`${item.link}`">
          <b-card class='mb-4'>
            <img 
              :src="`${item.image}`" 
              width="100%" 
              height="200px"
              style="object-fit: contain;"
            >
            <hr>
            {{item.title}} 
          </b-card>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "../firebase";
export default {
  mounted() {
    this.get_data();
  },
  methods: {
    get_data() {
      const db = firebase.firestore();
      db.collection("blogs")
        .get()
        .then((response) => {
          response.forEach((doc) => {
            this.items.push(doc.data());
          });
        });
    },
  },
  data() {
    return {
      items: [],
    };
  },
};
</script>
