<template>
  <div>
    <h1>Profile</h1>
    <hr />

    <div class="mb-1" v-for="item in items" :key="item.name">
      <b>{{ item.name }}</b>
      <div class="ml-2">
        {{ item.content }}
      </div>
      <hr />
    </div>

    <div class="mb-1">
      <b>Experience</b>
      <div class="ml-2">
        <li>Internship at Artisan digital 2 week</li>
        <div class="ml-4">
          <b>- </b>Employee attendance monitoring system based on company latitude and longitude.
        </div>
      </div>

      <div class="ml-2">
        <li>Internship at Artisan digital 1 month</li>
        <div class="ml-4">
          <b>- </b>Jiso travel show flight airplane in list.
        </div>
      </div>

      <div class="ml-2">
        <li>Mini project</li>
        <div class="ml-4">
          <b>- </b>Create a project on chronic kidney disease patients by
          syncing data both online and offline.
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-6">
            <a href="/resume/me.pdf" download="resume.pdf">
                <h5><b>#Download Resume</b></h5>
            </a>
        </div>

        <div class="col-6">
            <a href="/gpa/me.pdf" download="gpa.pdf">
                <h5><b>#Download Gpa</b></h5>
            </a>
        </div>
        
      </div>
      <hr>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          name: "Name",
          content: "Songpol Takha",
        },
        {
          name: "Nick name",
          content: "Pond",
        },
        {
          name: "Age",
          content: "21 years old",
        },
        {
          name: "Facebook",
          content: "Pond Songpol",
        },
        {
          name: "Line",
          content: "pungpondst",
        },
        {
          name: "Email",
          content: "pungpondstr@gmail.com",
        },
        {
          name: "Tel",
          content: "(+66) 96 060 2803",
        },
        {
          name: "Faculty",
          content: "Information and communication technology (ICT)",
        },
        {
          name: "Branch",
          content: "Software Engineer",
        },
      ],
    };
  },
};
</script>