<template>
  <div>
    <h1 align-="center">Skills</h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <b>Language</b>
        <hr />
        <div v-for="item in items1" :key="item.name">
          <label>{{ item.name }}</label>
          <b-progress
            :value="item.value"
            :max="100"
            show-progress
            class="mb-3"
          ></b-progress>
        </div>
      </div>

      <div class="col-md-3">
        <b>Libraries</b>
        <hr />
        <div v-for="item in items2" :key="item.name">
          <label>{{ item.name }}</label>
          <b-progress
            :value="item.value"
            :max="100"
            show-progress
            class="mb-3"
          ></b-progress>
        </div>
      </div>

      <div class="col-md-3">
        <b>Database</b>
        <hr />
        <div v-for="item in items3" :key="item.name">
          <label>{{ item.name }}</label>
          <b-progress
            :value="item.value"
            :max="100"
            show-progress
            class="mb-3"
          ></b-progress>
        </div>
      </div>

      <div class="col-md-3">
        <b>Server</b>
        <hr />
        <div v-for="item in items4" :key="item.name">
          <label>{{ item.name }}</label>
          <b-progress
            :value="item.value"
            :max="100"
            show-progress
            class="mb-3"
          ></b-progress>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items1: [
        {
          name: "HTML",
          value: 70,
        },
        {
          name: "CSS",
          value: 50,
        },
        {
          name: "JAVASCRIPT",
          value: 80,
        },
        {
          name: "PHP",
          value: 80,
        },
        {
          name: "PYTHON",
          value: 70,
        },
        {
          name: "DART",
          value: 75,
        },
        {
          name: "JAVA",
          value: 50,
        },
      ],
      items2: [
        {
          name: "VUE JS",
          value: 90,
        },
        {
          name: "NUXT JS",
          value: 80,
        },
        {
          name: "REACT JS",
          value: 60,
        },
        {
          name: "REACT NATIVE",
          value: 75,
        },
        {
          name: "Flutter",
          value: 70,
        },
        {
          name: "DJANGO",
          value: 60,
        },
        {
          name: "LARAVEL",
          value: 80,
        },
        {
          name: "EXPRESS JS",
          value: 90,
        },
      ],
      items3: [
        {
          name: "MYSQL",
          value: 75,
        },
        {
          name: "MONGO DB",
          value: 80,
        },
        {
          name: "FIREBASE",
          value: 60,
        },
        {
          name: "COUCH DB",
          value: 60,
        },
        {
          name: "POUCH DB",
          value: 60,
        },
      ],
      items4: [
        {
          name: "DOCKER",
          value: 50,
        },
        {
          name: "LINUX",
          value: 70,
        },
      ],
    };
  },
};
</script>