<template>
  <div>
    <div>
      <b-navbar
        toggleable="lg"
        type="dark"
        variant="info"
        class="navbar-horizontal"
      >
        <b-navbar-brand href="#">Pond Songpol</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <div v-for="item in navigations" :key="item.name">
                <b-nav-item>
                  <router-link :to="`${item.link}`" style="color: white;">
                    {{ item.name }}
                  </router-link>
                </b-nav-item>
            </div>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>

    <div class="mt-4">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navigations: [
        {
          name: "Home",
          link: "/",
        },
        {
          name: "About",
          link: "/about",
        },
        {
          name: "Projects",
          link: "projects",
        },
        {
          name: "Contact",
          link: "/contact",
        },
      ],
    };
  },
};
</script>